<launch>
    <node name="task_planning_node" pkg="task_planning" type="task_planning" output="screen">
        <param name="rosconsole_level" value="info" />
        <param name="topic1" value="/vicon/vpp_rk/vpp_rk" />
        <param name="topic2" value="/vicon/ruler/ruler" />
        <param name="collision_threshold" value="1.0" type="double"/>
    </node>
</launch>
